<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Main</title>
</head>

<body>
    
    <div class="new_blog">
        <a href="/new">
            <h3>Add new BLOG</h3>
        </a>
    </div>

    <section class="wrapper_all_posts">
        <% blogs.forEach(blog=> { %>
            <div class="wrapper_post">
                <a href=<%=`/post/${blog.id}`%>>
                    <h3>
                        <%= blog.title %>
                    </h3>
                    <img src=<%=`/images${blog.url}` %> alt=""%>
                    <br>
                    <p>
                        <%= blog.author %>
                    </p>

                </a>
            </div>
            <% }) %>
    </section>
</body>

</html>